{% extends "main.html" %}
{% block tabs %}
<style>

    #top {
        padding: 0 50px;
    }

    @media screen and (max-width: 767px){
        #top {
            padding: 0;
            margin: 0 auto;
            width: 89%;
            max-width: 89%;
        }
    }

    #wrap_all {
        max-width: 1280px;
        margin: 0 auto;
    }

    @media screen and (min-width: 60em) {
        .md-main {
            display: none
        }

        .md-sidebar--secondary {
            display: none
        }
    }

    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none
        }
    }

</style>
<div id="top">
    <div id="wrap_all">
        <div class="all_colors">
            <div class="container docs-hero-container">
                <div class="wbq-spacer" style="--spacer-d:48px;--spacer-t:35px;--spacer-m:20px"></div>
                <main role="main" itemprop="mainContentOfPage"
                      class="template-page content av-content-full alpha units">
                    <div class="post-entry post-entry-type-page post-entry-2">
                        <div class="entry-content-wrapper clearfix">
                            <div class="uc-index-hero uc-index-hero--colored" style="background-color: #f2f6fd">
                                <div class="uc-index-hero__top">
                                    <div class="uc-index-hero__top-column">
                                        <div class="uc-index-hero__heading">Usercentrics
                                            Documentation
                                        </div>
                                        <h1 class="uc-index-hero__overview">Build trust with users, achieve and maintain
                                            data privacy compliance and grow your business across all your
                                            platforms.</h1>
                                        <div class="uc-index-hero__cta-container">
                                            <div class="uc-index-hero__cta-row">
                                                <div class="uc-button uc-button--primary uc-button--left uc-index-hero__button">
                                                    <a target="_self" href="config/account-config/"
                                                       class="uc-button__inner" title="Free trial" rel="nofollow">Get
                                                        started</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="uc-index-hero__top-column">
                                        <img src="assets/home/hero_image.svg"
                                             alt="Hero image" width="auto" height="330" data-skip-lazy="">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </main><!-- close content main element --></div>
            <div id="av_section_1"
                 class="avia-section main_color avia-section-no-padding avia-no-border-styling  avia-bg-style-scroll  avia-builder-el-0  el_before_av_section  avia-builder-el-first fullsize"
                 style=" ">
                <div class="cards-container container">
                    <main role="main" itemprop="mainContentOfPage"
                          class="template-page content  av-content-full alpha units">
                        <div class="post-entry post-entry-type-page post-entry-21411">
                            <div class="entry-content-wrapper clearfix">
                                <div class="wbq-spacer" style="--spacer-d:64px;--spacer-t:35px;--spacer-m:20px"></div>
                                <div style="padding-bottom:0px; "
                                     class="av-special-heading av-special-heading-h1  blockquote modern-quote modern-centered  avia-builder-el-2  el_after_wbq_spacer  avia-builder-el-last  ">
                                    <h1 id="how-can-we-help-you" data-heading-level="1"
                                        class="wbq-index__content-heading av-special-heading-tag  wbq_looks_like_h2"
                                        itemprop="headline">Consent Management Platform (CMP)</h1>
                                    <div class="av-subheading av-subheading_below  wbq_custom  "
                                         style="font-size:20px;margin:10px auto 0 ;"><p>Solve data privacy regulation
                                        compliance for any platform with Usercentrics</p>
                                    </div>
                                </div>
                                <div id="uc-contact-sections"
                                     class="avia-section main_color avia-section-no-padding avia-no-border-styling  avia-bg-style-scroll  avia-builder-el-3  el_after_av_section  avia-builder-el-last fullsize"
                                     style=" ">
                                    <div>
                                        <div class="template-page content  av-content-full alpha units">
                                            <div class="post-entry post-entry-type-page post-entry-21411">
                                                <div class="entry-content-wrapper clearfix">
                                                    <div class="wbq-spacer"
                                                         style="--spacer-d:32px;--spacer-t:35px;--spacer-m:20px"></div>
                                                    <div class="uc-support-cards">
                                                        <a class="uc-support-cards__item"
                                                           href="web/intro/"
                                                           target="_self" title="Contact sales" rel="noopener">
                                                            <div class="uc-support-cards__icon ">
                                                                <img src="assets/home/web.svg"
                                                                     alt="Contact sales" width="64" height="64"
                                                                     data-lazy-src="assets/home/web.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="assets/home/web.svg"
                                                                        alt="Contact sales"
                                                                        width="64" height="64"></noscript>
                                                                <div class="uc-support-cards__name">Web</div>
                                                            </div>
                                                            <div class="uc-support-cards__overview"><p>Achieve privacy
                                                                compliance in any browser with our highly customizable
                                                                consent banners. Build trust with your users with
                                                                seamless
                                                                brand integration and user-centric design.</p>
                                                            </div>
                                                            <div class="uc-support-cards__tags">
                                                                <span class="uc-support-cards__tags__item">Chrome</span>
                                                                <span class="uc-support-cards__tags__item">Safari</span>
                                                                <span class="uc-support-cards__tags__item">Other Browsers</span>
                                                            </div>
                                                            <div class="uc-support-cards__icon uc-support-cards__icon--bottom">
                                                                <img src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     alt="Open" width="48" height="48"
                                                                     data-lazy-src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                        alt="Open" width="48" height="48"></noscript>
                                                            </div>
                                                        </a>
                                                        <a class="uc-support-cards__item"
                                                           href="apps/intro/"
                                                           target="_blank" title="Technical Support" rel="noopener">
                                                            <div class="uc-support-cards__icon ">
                                                                <img src="assets/home/app.svg"
                                                                     alt="Technical Support" width="64" height="64"
                                                                     data-lazy-src="assets/home/app.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="assets/home/app.svg"
                                                                        alt="Technical Support"
                                                                        width="64" height="64"></noscript>
                                                                <div class="uc-support-cards__name">App</div>
                                                            </div>
                                                            <div class="uc-support-cards__overview"><p>Native and
                                                                cross-platform SDKs provide a highly customizable
                                                                consent
                                                                management solution. Achieve data privacy compliance in
                                                                any
                                                                region right out of the box.</p>
                                                            </div>
                                                            <div class="uc-support-cards__tags">
                                                                <span class="uc-support-cards__tags__item">iOS</span>
                                                                <span class="uc-support-cards__tags__item">Android</span>
                                                                <span class="uc-support-cards__tags__item">Flutter</span>
                                                                <span class="uc-support-cards__tags__item">React Native</span>
                                                            </div>
                                                            <div class="uc-support-cards__icon uc-support-cards__icon--bottom">
                                                                <img src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     alt="Open" width="48" height="48"
                                                                     data-lazy-src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                        alt="Open" width="48" height="48"></noscript>
                                                            </div>
                                                        </a>
                                                        <a class="uc-support-cards__item"
                                                           href="tv/intro/"
                                                           target="_blank" title="Suggest a feature" rel="noopener">
                                                            <div class="uc-support-cards__icon ">
                                                                <img src="assets/home/tv.svg"
                                                                     alt="Suggest a feature" width="64" height="64"
                                                                     data-lazy-src="assets/home/tv.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="assets/home/tv.svg"
                                                                        alt="Suggest a feature"
                                                                        width="64" height="64"></noscript>
                                                                <div class="uc-support-cards__name">Connected TV</div>
                                                            </div>
                                                            <div class="uc-support-cards__overview"><p>Tailor-made data
                                                                privacy compliance for TV. Easy to set up, collect
                                                                consent
                                                                with a user-friendly solution and enable your
                                                                monetization
                                                                strategy on all TV platforms.</p>
                                                            </div>
                                                            <div class="uc-support-cards__tags">
                                                                <span class="uc-support-cards__tags__item">tvOS</span>
                                                                <span class="uc-support-cards__tags__item">AndroidTV</span>
                                                                <span class="uc-support-cards__tags__item">Web TV</span>
                                                            </div>
                                                            <div class="uc-support-cards__icon uc-support-cards__icon--bottom">
                                                                <img src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     alt="Open" width="48" height="48"
                                                                     data-lazy-src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                        alt="Open" width="48" height="48"></noscript>
                                                            </div>
                                                        </a>
                                                        <a class="uc-support-cards__item"
                                                           href="games/intro/"
                                                           target="_blank" title="Billing and account" rel="noopener">
                                                            <div class="uc-support-cards__icon ">
                                                                <img src="assets/home/game.svg"
                                                                     alt="Billing and account" width="64" height="64"
                                                                     data-lazy-src="assets/home/game.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="assets/home/game.svg"
                                                                        alt="Billing and account"
                                                                        width="64" height="64"></noscript>
                                                                <div class="uc-support-cards__name">Mobile Games</div>
                                                            </div>
                                                            <div class="uc-support-cards__overview"><p>Get ahead of the
                                                                game
                                                                with a privacy-first strategy. Solve data privacy
                                                                requirements, build trust with users, and unlock new
                                                                monetization potential with the TCF 2.0 Standard.</p>
                                                            </div>
                                                            <div class="uc-support-cards__tags">
                                                                <span class="uc-support-cards__tags__item">Unity SDK</span>
                                                            </div>
                                                            <div class="uc-support-cards__icon uc-support-cards__icon--bottom">
                                                                <img src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     alt="Open" width="48" height="48"
                                                                     data-lazy-src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                     data-ll-status="loaded" class="entered lazyloaded">
                                                                <noscript><img
                                                                        src="https://usercentrics.com/wp-content/uploads/2021/12/Frame-67.svg"
                                                                        alt="Open" width="48" height="48"></noscript>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="wbq-spacer"
                                                         style="--spacer-d:64px;--spacer-t:35px;--spacer-m:20px"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </main>
                </div>
            </div>

            <div id="av_section_15"
                 class="avia-section main_color avia-section-no-padding avia-no-border-styling  avia-bg-style-scroll  avia-builder-el-66  el_after_av_section  avia-builder-el-last  uc-flex-table-medium-placeholder   fullsize">
                <div class="container source-container">
                    <div class="wbq-spacer"
                         style="--spacer-d:64px;--spacer-t:35px;--spacer-m:20px"></div>
                    <div class="template-page content  av-content-full alpha units">
                        <div class="post-entry post-entry-type-page post-entry-2">
                            <div class="entry-content-wrapper clearfix">
                                <div style="padding-bottom:0px; "
                                     class="av-special-heading av-special-heading-h1  blockquote modern-quote modern-centered  avia-builder-el-2  el_after_wbq_spacer  avia-builder-el-last  ">
                                    <h1 data-heading-level="1"
                                        class="wbq-index__content-heading av-special-heading-tag  wbq_looks_like_h2"
                                        itemprop="headline">Useful Sources</h1>
                                    <div class="av-subheading av-subheading_below  wbq_custom  "
                                         style="font-size:20px;margin:10px auto 0 ;"><p style="margin: 16px 0 32px 0;">
                                        Find all the information you need to start building user consent features in
                                        your solution.</p>
                                    </div>
                                </div>
                                <div class="uc-icon-text">

                                    <div class="uc-icon-text__item">
                                        <div class="uc-icon-text__content">
                                            <a class="uc-icon-text__heading"
                                               href="https://usercentrics.atlassian.net/servicedesk/customer/portals" target="_self">
                                                Customer Support Portal</a>
                                            <a class="uc-icon-text__cta"
                                               href="https://usercentrics.atlassian.net/servicedesk/customer/portals"
                                               target="_self">Get help</a>
                                        </div>
                                    </div>
                                    <div class="uc-icon-text__item">
                                        <div class="uc-icon-text__content">
                                            <a class="uc-icon-text__heading"
                                               href="https://usercentrics.atlassian.net/wiki/spaces/SKB/overview"
                                               target="_self">Knowledge Base</a>
                                            <a class="uc-icon-text__cta" href="https://usercentrics.atlassian.net/wiki/spaces/SKB/overview"
                                               target="_self">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                                <p></p>
                            </div>
                        </div>
                    </div><!-- close content main div --> <!-- section close by builder template -->        </div>
                <div class="wbq-spacer"
                     style="--spacer-d:128px;--spacer-t:35px;--spacer-m:20px"></div>
                <!--end builder template--></div>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}{% endblock %}
